.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile-photo {
  padding: 30px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 35px;
  margin: 0;
}

.email {
  font-size: 20px;
  margin: 0;
  color: gray;
}

.hall-of-fame-section {
  text-align: center;
}

.hall-of-fame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.image-card {
  cursor: pointer;
  padding: 2px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  height: fit-content;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.topic-text {
  margin: 0px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: relative;
  max-width: 500px;
  max-height: 500px;
}

.popup-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.download-button {
  margin-top: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.dashboard .profile-details input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f7963e;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  outline: none;
}

.dashboard .profile-details button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #cb3032;
  color: white;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.dashboard .profile-details button:hover {
  background-color: red;
}