.game-container {
  display: flex;
  color: #253674;
}

.game-info {
  flex: 1;
  padding: 70px 10px 70px 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  pointer-events: none;
}

.drawing-space {
  flex: 3;
  padding: 20px;
}

.curr-player {
  display: flex;
  align-items: center;
}

.curr-player h2 {
  margin-left: 20px;
}

.curr-player img {
  width: 100px;
  height: 100px;
}

.main {
  display: flex;
  flex-direction: row;
  border: 3px solid black;
  height: fit-content;
}

#left-stripe {
  width: 50px;
  height: 600px;
  object-fit: cover;
  object-position: 100% 0%;
  align-self: flex-end;
  margin-bottom: 5px;
  pointer-events: none;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: fit-content;
}

#top-stripe {
  width: 800px;
  height: 50px;
  object-fit: cover;
  object-position: 0% 100%;
  pointer-events: none;
}

#drawing-space {

  width: fit-content;
  height: fit-content;
}