.left-pane {
  height: 100%;
  width: 25%;
  background-color: #f7963e;
  border-radius: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  z-index: 1;
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#user-name {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  margin: 15px 0px;
}

#line-break {
  display: flex;
  justify-content: center;
  border-top: 5px solid white;
  border-radius: 10px;
  margin: 10px 20px;
}

#join-session {
  margin: 0;
  padding: 10px 30px 30px;
  font-size: 28px;
  text-align: center;
}

.session {
  padding: 0px 45px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
}

.session-text {
  margin: 0;
}

.right-pane {
  height: 100%;
  width: 75%;
  display: flex;
  flex-direction: column;
}

#placeholder {
  height: 84%;
  width: 100%;
  text-align: center;
}

#start-session-btn {
  height: 16%;
  width: 106%;
  margin-left: -7vh;
  background-color: #cb3032;
  border-radius: 0px 20px 20px 0px;
  border-width: 0px;
  font-family: "Chelsea Market", cursive;
  font-size: 34px;
  color: white;
}

#start-session-btn:hover {
  background-color: red;
}

#circle {
  /*position: absolute;*/
  align-self: flex-end;
  margin-bottom: 2vh;
  margin-left: -15px;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  border-width: 0px;
  background-color: #f7963e;
  z-index: 1;
}

button {
  cursor: pointer;
}

.session-button {
  font-family: "Chelsea Market", cursive;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0px 45px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  width: 90%;
}

.session-button:hover {
  background-color: lightblue;

}

.session-button:hover .session-text {
  color: black;
}

.session-text {
  margin: 0;
  font-size: 24px;
  text-align: center;
  color: white;
}

.modal-content form input[type="text"] {
  background-color: white;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: auto;
}

.modal-content form button[type="submit"] {
  background-color: white;
  color: #487eb9;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Chelsea Market", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}