.popup-content {
  padding-top: 5%;
  padding-button: 5%;
  background-color: white;
}

button {
  margin: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: red;
  color: white;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff; /* Replace with your desired X symbol color */
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}
