.new-header {
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background: transparent;
}

.nav-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(50% - 150px);
  font-size: 25px;
}

.nav-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(50% - 150px);
  font-size: 25px;
}

.nav-link,
.nav-text {
  color: #487eb9;
  text-decoration: none;
}

.nav-text:hover {
  cursor: default;
}

.nav-link:hover {
  cursor: pointer;
}

.menu-item {
  font-family: 'Chelsea Market', cursive;
  font-size: 20px;
}

.logo {
  height: auto;
  width: 30%;
  max-width: 30vh;
}